* {
    box-sizing: border-box;
    padding: 0;
}




li,
a,
button {

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: aliceblue;
    text-decoration: none;
    transition: all 0.3s ease 0s;

}

a:hover,
li:hover,
button:hover {
    color: #0088a9;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 100px;
    height: 100px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 10;
}

header img {
    width: 45px;
    height: 45px;
    margin-right: 12px;
    border-radius: 15px;
    border: solid 1.5px #ffffff;
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 0px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}


header img:hover {
    box-shadow: rgba(0, 0, 0, 0.597) 0px 4px 20px 1px;
}

.contenedor {

    background: linear-gradient(180deg, #020d1f, #010817, #010510, #000208, #000104, #000001, #000000, #000000);    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;


}

#boton_nombre {
    border: #ffffff 1px solid;
    background-color: transparent;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 4px 20px 2px;
    margin-bottom: 20px;
    transition: all 0.3s ease 0s;
}

#boton_nombre:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(30, 30, 30) 0px 4px 20px 20px;
    color: #1e1f23;
    border: solid 1.5px #1e1f23;
}

.contenido {
    align-items: center;
    justify-items: center;
    color: #ffffff;
    width: 60%;
    margin-top: 10.5%;

}

.contenido h1 {
    color: #ffffff;
    margin-bottom: 10%;
    font-size: 44px;
    text-align: center;
    font-weight: 900;
}

span {
    color: rgb(94, 157, 228);
    font-weight: 900;
}

.texto-contenido {
    line-height: 2;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 70px;
    font-weight: 900;
}

#botones_unirse_proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.botones {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 20px;
}

.botones li {
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}

.botones li a {
    transition: all 0.3s ease 0s;
}

.botones li a:hover {
    color: #0088a9
}

button {
    background-color: rgb(47, 110, 183);
    color: #ffffff;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: rgb(47, 110, 183) 0px 4px 20px;
}

button:hover {
    color: #ffffff;
    background-color: rgba(15, 91, 179, 0.8);
    box-shadow: rgba(0, 136, 169, 0.8) 0px 4px 20px 2px;
}

.logo {
    display: flex;
    margin-right: auto;
    /* Esto empuja los siguientes elementos a la derecha */
    align-items: center;
}

.logo li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    background-color: #07070b;
    margin: 0;
    color: white;
    width: fit-content;
    height: 1lh;
}


.category_title{
    border-bottom: 1px solid;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 1px;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: rgba(15, 91, 179, 0.8);
    border-radius: 6px;
}

.container_projects{
    display: grid;
    gap: 50px;
    padding: 30px;
    align-items: center;
    margin-bottom:20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #08080cd2;
    color: rgb(255, 255, 255);
    width: 300px;
    outline: 1px solid #1e1f23;
    border-radius: 5px;
    transition: ease .5s all;
    overflow: hidden;
    outline: 2px solid rgba(15, 91, 179, 0.8);
}  

.projects img{
    width: 300px;
    height: 180px;
    filter: grayscale(0);
}

.projects:hover .overlayProject{
    transform: translateY(-100%);
}

.projects:not(:hover) .overlayProject{
    bottom: auto;
    filter: grayscale(0);
}



.projects:hover{
    transform: scale(1.1);
    outline-color: rgba(15, 91, 179, 0.8);
    box-shadow: rgba(15, 91, 179, 0.8) 0px 0px 10px 1px;
}



.projects:hover img{
    filter: grayscale(1);
}



.overlayProject{
    position: absolute;
    width: 300px;
    height: fit-content;
    top: 100%;
    bottom: 0;
    justify-content: center;
    background-color: #1e1f23;
    border-radius: 12px;
    align-items: center;
    transition: ease-in-out .25s all;
    padding: 5px;
}


.buttonsProject{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 50%;
}

.buttonsProject img{
    height: 20px;
    width: 20px;
    margin: 0;
}

.projects h3{
    font-weight: 900;
    font-size: 16px;
    margin-left: 12px
}

.projects p{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 12.5px;
    margin-bottom: 22px;
}


.imgProject{
    width: 300px;
    filter: grayscale(1);
}


.headerProject{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px solid rgba(15, 91, 179, 0.8);
}

.iconsTecnology{
    display: flex;
    max-width: 200px;
    align-items: center;
    gap: 7px;
    padding-inline: 5px;
}

.headerProject img{
    height: 20px;
    width: 20px;
}

#principles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 90%;
    gap: 20px;
}

#principles img{
    width: 60px;
    height: 60px;
}

#principles h3{
    text-align: center;
   
}

.containerQualities{
    width: 100%;
    padding-inline: 60px;
    background-color: #24252a;
    padding-top: 160px;
    justify-items: center;
    padding-bottom: 100px;
    font-size: 20px;
    font-weight: 600;
    background: radial-gradient(circle at 50% 50%, #151b3d, #09091a, #0c0a18, #0b0b0b, #0a0610, #020304, #000000, #000000);
}


.containerQualities h3{
    border-radius: 8px;
    padding: 15px;
    
}

.grid{
    display: flex;
    flex-direction: column;
    background-color: #07070b;
    border-radius: 12px;
    border: .5px solid rgba(15, 91, 179, 0.8);
    gap: 30px;
    padding-inline: 30px;
}

.grid p{
    font-size: 14px;
    
}

.titleGrid{
   display: flex;
   height: 10%;
   align-items: center;
   justify-content: space-between;
}


    
#grid1{
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    height: fit-content;
    text-align: center;
    padding: 30px;
    justify-content: space-between;
}

#grid2 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
   
}

#grid3 {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
   
}

#grid4 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
   
}

#grid5 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;

}

#grid6 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
}
 